---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';
---

<Layout title="PowerGym">
	<header>
		<Slider/>
	</header>

	<main>
		<h1 class="text-4xl text-center">¿Por qué <span class="text-custom-green underline decoration-black">elegirnos</span>?</h1>
	</main>
		<div class="link-card-grid m-5">
			<Card 
				title="Flexibilidad Horaria"
				body="Contamos con un amplio horario de atención para que puedas entrenar en el momento que más te convenga."
				href="/assets/FlexibilidadHoraria.jpg"/> 
			<Card 
				title="Clases personalizadas" 
				body="Contamos con un equipo de profesionales que te ayudarán a alcanzar tus objetivos." 
				href="/assets/ClasesPersonalizadas.jpg"/>
			<Card
				title="Membresías"
				body="Contamos con diferentes planes de membresía para que puedas elegir el que mejor se adapte a tus necesidades."
				href="/assets/Membresias.jpg"/>
			<Card
				title="Expertos en nutrición"
				body="Contamos con un equipo de nutricionistas que te ayudarán a llevar una alimentación saludable."
				href="/assets/Nutricion.jpg"/>
		</div>
	<footer>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
